<%= form_for @todo do |f| %>
  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-lg btn-default" %>
  </div>
<% end %>